---
BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Never
LineEnding: DeriveLF
MaxEmptyLinesToKeep: 2 # for me, 2 empty lines were so common.
# Sorry Linux... But we need some C++ stuff here.
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: MultiLine
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeWhile: false
#  BreakBeforeBraces End
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
IndentCaseLabels: false
IndentPPDirectives: BeforeHash
IncludeBlocks: Preserve # because google c++ guide specifies the order of #include blocks.
SortIncludes: CaseInsensitive
ColumnLimit: 120 # same as Microsoft, don't ask me, I just think it's great.
InsertNewlineAtEOF: true # Who doesn't like \n in the file end.
BinPackParameters: true # Microsoft has set this, but I also saw this config.
AlignAfterOpenBracket: Align # TBD, now same as Microsoft.
AlignTrailingComments:
    Kind: Always
    OverEmptyLines: 0
AlignOperands: AlignAfterOperator
AlignEscapedNewlines: DontAlign
...
